@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

html {
	font-size: 10px;
}

body {
	font-family: "Mukta", sans-serif;
	color: #262626;
	font-size: 1.6rem;
	line-height: 1.5;
	text-align: center;
	margin: 0;
}

#main {
	border-radius: 10px;
	background: #dcdcdc;
	margin: 30px 10px;
	padding: 20px;
}

h1 {
	font-size: 3.5rem;
	text-align: center;
	margin: 0;
}

p {
	margin: 0;
	text-align: center;
}

header {
	margin-bottom: 30px;
}

#img-div {
	background-color: white;
	padding: 20px 0;
}

#image {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 20px auto 10px auto;
}

#img-caption {
	text-align: center;
	margin: 0;
}

section {
	max-width: 600px;
	width: 100%;
	margin: auto;
}

h3 {
	text-align: center;
	margin: 40px 0;
}

ul {
	text-align: left;
}

li {
	margin: 10px 0;
	line-height: 1.6;
}

a {
	color: #918fbf;
}

@media (max-width: 450px) {
	#main {
		margin: 0;
		border-radius: 0;
	}
}